# Capstone Project - The Battle of Neighborhoods (Week 1)

## Moving to Madrid

First, we build the code to scrape the following Wikipedia page, https://es.wikipedia.org/wiki/Anexo:Barrios_administrativos_de_Madrid, in order to obtain the data that is in the table and to transform the data into a pandas dataframe.

#### First, we import the libraries we expect to need:

In [3]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/e8/b5/7bb03a696f2c9b7af792a8f51b82974e51c268f15e925fc834876a4efa0b/beautifulsoup4-4.9.0-py3-none-any.whl (109kB)
     |████████████████████████████████| 112kB 7.3MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/05/cf/ea245e52f55823f19992447b008bcbb7f78efc5960d77f6c34b5b45b36dd/soupsieve-2.0-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.0 soupsieve-2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 5.1MB/s eta 0:00:01     |████                            | 706kB 5.1MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import csv
import os
import requests
import urllib
import math
import copy
import pandas as pd	
import numpy as np
from bs4 import BeautifulSoup 

class html_tables(object):
    
    def __init__(self, url):
        
        self.url      = url
        self.r        = requests.get(self.url)
        self.url_soup = BeautifulSoup(self.r.text)
        
    def read(self):
        
        self.tables      = []
        self.tables_html = self.url_soup.find_all("table")
        
        # Parse each table
        for n in range(0, len(self.tables_html)):
            
            n_cols = 0
            n_rows = 0
            
            for row in self.tables_html[n].find_all("tr"):
                col_tags = row.find_all(["td", "th"])
                if len(col_tags) > 0:
                    n_rows += 1
                    if len(col_tags) > n_cols:
                        n_cols = len(col_tags)
            
            # Create dataframe
            df = pd.DataFrame(index = range(0, n_rows), columns = range(0, n_cols))
            
            # Create list to store rowspan values 
            skip_index = [0 for i in range(0, n_cols)]
            
            # Start by iterating over each row in this table...
            row_counter = 0
            for row in self.tables_html[n].find_all("tr"):
                
                # Skip row if it's blank
                if len(row.find_all(["td", "th"])) == 0:
                    next
                
                else:
                    
                    # Get all cells containing data in this row
                    columns = row.find_all(["td", "th"])
                    col_dim = []
                    row_dim = []
                    col_dim_counter = -1
                    row_dim_counter = -1
                    col_counter = -1
                    this_skip_index = copy.deepcopy(skip_index)
                    
                    for col in columns:
                        
                        # Determine cell dimensions
                        colspan = col.get("colspan")
                        if colspan is None:
                            col_dim.append(1)
                        else:
                            col_dim.append(int(colspan))
                        col_dim_counter += 1
                            
                        rowspan = col.get("rowspan")
                        if rowspan is None:
                            row_dim.append(1)
                        else:
                            row_dim.append(int(rowspan))
                        row_dim_counter += 1
                            
                        # Adjust column counter
                        if col_counter == -1:
                            col_counter = 0  
                        else:
                            col_counter = col_counter + col_dim[col_dim_counter - 1]
                            
                        while skip_index[col_counter] > 0:
                            col_counter += 1

                        # Get cell contents  
                        cell_data = col.get_text()
                        
                        # Insert data into cell
                        df.iat[row_counter, col_counter] = cell_data

                        # Record column skipping index
                        if row_dim[row_dim_counter] > 1:
                            this_skip_index[col_counter] = row_dim[row_dim_counter]
                
                # Adjust row counter 
                row_counter += 1
                
                # Adjust column skipping index
                skip_index = [i - 1 if i > 0 else i for i in this_skip_index]

            # Append dataframe to list of tables
            self.tables.append(df)
        
        return(self.tables)

#### Then, we download the data from Wikipedia

In [2]:
ssa_url = "https://es.wikipedia.org/wiki/Anexo:Barrios_administrativos_de_Madrid"
ssa = html_tables(ssa_url)
first_table = ssa.read()[0]
first_table.to_csv("ssa.csv", header = False, index = False)

In [3]:
first_table.head()

            0         1              2                       3         4
0  Distrito\n  Número\n       Nombre\n  Superficie (km²)[2]​\n  Imagen\n
1    Centro\n      11\n      Palacio\n             1,471 km²\n        \n
2         NaN      12\n  Embajadores\n             1,032 km²\n        \n
3         NaN      13\n       Cortes\n             0,592 km²\n        \n
4         NaN      14\n     Justicia\n             0,742 km²\n        \n

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
neighborhoods_Madrid=pd.read_csv('ssa.csv')

In [6]:
neighborhoods_Madrid.head()

  Distrito\n  Número\n       Nombre\n Superficie (km²)[2]​\n Imagen\n
0   Centro\n        11      Palacio\n            1,471 km²\n       \n
1        NaN        12  Embajadores\n            1,032 km²\n       \n
2        NaN        13       Cortes\n            0,592 km²\n       \n
3        NaN        14     Justicia\n            0,742 km²\n       \n
4        NaN        15  Universidad\n            0,947 km²\n       \n

We can drop the unneeded columns

In [7]:
del neighborhoods_Madrid['Número\n']
del neighborhoods_Madrid['Superficie (km²)[2]​\n']
del neighborhoods_Madrid['Imagen\n']
neighborhoods_Madrid.head()

  Distrito\n       Nombre\n
0   Centro\n      Palacio\n
1        NaN  Embajadores\n
2        NaN       Cortes\n
3        NaN     Justicia\n
4        NaN  Universidad\n

In [8]:
neighborhoods_Madrid2 = neighborhoods_Madrid

We change the columns names:

In [13]:
neighborhoods_Madrid = neighborhoods_Madrid.rename(columns={'Distrito\n':'Borough', 'Nombre\n':'Neighborhood'}, 
                 inplace=True)

In [15]:
neighborhoods_Madrid.head()

    Borough   Neighborhood
0  Centro\n      Palacio\n
1       NaN  Embajadores\n
2       NaN       Cortes\n
3       NaN     Justicia\n
4       NaN  Universidad\n

We need to remove the "\n":

In [16]:
neighborhoods_Madrid = neighborhoods_Madrid.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=False)
neighborhoods_Madrid.head()

  Borough Neighborhood
0  Centro      Palacio
1     NaN  Embajadores
2     NaN       Cortes
3     NaN     Justicia
4     NaN  Universidad

On the Wikipedia page Boroughs were merged cells, that is why we have NaN values on Borough column. We should replace these values with the Borough above it.

In [17]:
neighborhoods_Madrid3 = neighborhoods_Madrid

In [18]:
neighborhoods_Madrid3 = neighborhoods_Madrid3.fillna(method='ffill')
neighborhoods_Madrid3.head()

  Borough Neighborhood
0  Centro      Palacio
1  Centro  Embajadores
2  Centro       Cortes
3  Centro     Justicia
4  Centro  Universidad

In [19]:
neighborhoods_Madrid3.tail()

     Borough                Neighborhood
126  Barajas            Alameda de Osuna
127  Barajas                  Aeropuerto
128  Barajas  Casco Histórico de Barajas
129  Barajas                       Timón
130  Barajas                  Corralejos

Finally, we save this data to a CSV file.

In [20]:
neighborhoods_Madrid3.to_csv('ssa.csv')